body { 
margin:0; 
font-family: Arial, sans-serif; 
background-image: url("fond.jpg.png");
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
}
main{
background: transparent;
padding:20px;
border-radius:10px;
}
header { background:transparent; color:white; position:fixed; width:100%; top:0; left:0; z-index:1000; }
header .container { 
display:flex;
align-items:center;
justify-content:space-between;
padding:10px 20px;
}

header h1{
margin-left:10px;
}
header h1 { margin:0; font-size:24px; }
nav { display:flex; gap:10px; }
.btn { text-decoration:none; color:white; padding:8px 15px; background:transparent; border-radius:4px; }
.btn:hover { background:#003366; }
.btn-primary { background:#ff9900; color:white; }
.btn-primary:hover { background:#cc7a00; }
main { padding:100px 20px 20px; }
section.hero { text-align:center;
background:tranparent;
padding: 40px;
border-radius: 10px;
}
section.hero img { margin-top:20px; max-width:100%; height:auto; }
section.features, section.services, section.contact { margin-top:40px; }
section.features ul, section.services ul { list-style-type: disc; margin-left:20px; }
form input, form textarea { width:100%; padding:10px; margin:5px 0; border:1px solid #ccc; border-radius:4px; }
form button { padding:10px 20px; background:#0073e6; color:white; border:none; border-radius:4px; cursor:pointer; }
form button:hover { background:#004d99; }
footer { background:transparent; color:white; text-align:center; margin-top: 200px; padding:10px; margin-top:200px; }
.logo{
height:90px;
margin-right:15px;
}

html, body {
height: 100%;
}
body {
display: flex;
flex-direction: column;
}

.btn-primary {
display: none;
}

main {
flex: 1;
}

footer {
margin-top: auto;
text-align: center;
color: white;
padding: 10px;
}

.accueil{
background-image:url("fond-accueil.png");
background-size:cover;
background-position:center;
background-attachment:fixed;
}

.services{
background-image:url("Fond-services.png");
background-size:cover;
background-position:center;
background-attachment:fixed;
}

.contact{
background-image:url("Fond-contact.png");
background-size:cover;
background-position:center;
background-attachment:fixed;
}
